*{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #000000;
}

.container{
    width: 100%;
    background-color: #fff;
}

.ctrl-center{
    width: 96%;
    margin: 0px auto;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navigation-section{
    display: flex;
    flex-direction: row;
    gap:20px;
}
nav ul{
    list-style: none;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    text-decoration: none;
    display: block;
    padding:15px 10px;
    color: #000;
}
nav ul li a:hover {
    background-color: #007C45;
    color: #fff;
}
.report-gov{
    background-color: red;
    color: #fff;
    border: 3px solid #000;
    display: flex;
    align-items: center;
    margin:8px 0px;
}
.report-gov p{
    padding: 2px 10px 2px 10px;
    font-size: 12px;
}
.report-gov p span{
    background-color: green;
    border-radius: 5px;
    padding: 2px;
}

.ecerpac-sign{
    background-color:#007C45;
}
.ecerpac-sign h2{
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    padding: 15px 0px;
}

.management-bg{
    background-color: #F4F4F4;
}

.management-sys {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top:20px;
}
.content{
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
    gap:30px;
}
.left-section{
    width: 300px;
}

.grid-section{
    width: 65%;
}
.grid{
    margin-bottom: 10px;
}
.grid-item{
    padding: 0px 10px 10px 10px;
    border-left: 1px solid #ccc;
    border-right:1px solid #ccc;
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.grid-item table{
    width: 100%;
}
.grid-item table tr th{
    font-weight: normal;
}
.grid-item table tr th,
.grid-item table tr td{
    text-align: left;
    border-right: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 13px;
}
.grid-item table tr th:last-child,
.grid-item table tr td:last-child{
    border-right:none;
}
.grid-item table tr td:last-child{
    text-align: center;
}

.applicant-title{
    color: #fff;
    font-size: 12px;
    padding: 3px;
    border-radius: 3px;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.4);
    width: 80px;
    text-align: center;
}
.green{background-color: #007C45;}
.orange{background-color: orange;}
.grid-btn-section{
    display: flex;
    justify-content: right;
    gap:10px;
    margin-top: 12px;
}
.grid-item table tr td button{
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.status-approve-pending{
    background-color: #FFF3D1;
    color: #F2C965;
}
.status-collapse{
    color: #000;
}
.status-renew{
    background-color: #D6CCE5;
    color: #9081D1;
}
.status-rectify{
    background-color: #BCE8F1;
    color: #568FA7;
}
.status-withdraw{
    background-color: #FDD2D2;
    color: #D43C38;
}
.status-view-card{
    background-color: #E2E5F6;
    color: #6B73A7;
}
.status-view-appli,
.status-approve{
    background-color: #CCE4DB;
    color: #2C7C4D;
}

.grid-btn-section button{
    border: none;
    width:140px;
    padding: 7px;
    border-radius: 4px;
    cursor: pointer;
}

.app-bg{
    background-color: #3bb42e;
}
.appli-logout{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.appli-logout h2{
    background-color: #a5e545;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    padding: 10px;
    color: #fff;
    font-family: Sharp Sans, sans-serif;
}
.appli-logout button{
    background-color: #ff0200;
    color: #fff;
    border: none;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 20px;
    cursor: pointer;
}

.ecerpac-ctrl{
    border-left:1px solid #007C45;
    border-right:2px solid #f4f4f4;;
    background-color: #f4f4f4;;
    width: 430px;
    padding-bottom: 10px;
}
.ecerpac-ctrl h2{
    background-color: #007C45;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 13px 10px;
    height: 35px;
}

.ecerpac-ctrl ul{
    margin-top: 20px;
    margin-left: 40px;
}
.footer{
    background-color: #007C45;
}
.footer p {
    color: #fff;
    padding: 10px 0px;
    text-align: center;
}